margin: 0;
    padding: 0;

}

:root{
--amarelo:#4E4F32;
--midamarelo:#EBEF31;
--amarelomeio:#C8CB1F;
--Azul:#282FD7;

}
.cabecario{
    background-color:#131315;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    align-items: center;
    color: #FFFFFF;


}
 .imagem-cabecario{
width: 100px

 }
 .itemlista {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

 }
 .escolaimg{
    width: 120px;
    height: 100px;


 }
 .escola{
    background-image:linear-gradient( #131315, #9FEEF3);
    display: flex;
    align-items: center;
    padding: 24px 0;
    color:#FFFFFF;
    padding-left: 15%;
    
 }
.escoola-div-conteudo{

   width: 40%;

}
.escola-titulo{

   padding: 24px 0;

}
.estudante-img {

   width: 120px;
}
.estudante-icone{

   width: 24px;
   padding: 4px 8px;
}
.estudante-titulo{

   background-color: #9FEEF3;
   text-align: center;
}
.estudante-div{

   text-align: center;
   padding: 10px 0;
   background-color:#9FEEF3 ;
   
}
.estudante-todos{

   display: grid;
   grid-template-columns: 25% 25% 25% 25% ;
}

