*{
    margin: 0;
    padding: 0;;
}
:root{
    --cor-fundo: black;
    --cor-fontes: white;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 17,31%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;

}
.escola-imagem{
    width: 30%;
}
.escola{
    background-image: linear-gradient(#CA0000, #000000);
    color: var(--cor-fontes);
    display: flex;
    align-items: center;
    padding: 24px 0;
    padding-left: 15%;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-img {

    width: 120px;
 }
 .estudante-icone{
 
    width: 24px;
    padding: 4px 8px;
 }
 .estudante-div{
 
    text-align: center;
    padding: 10px 0;
    
 }
 